# ETL

In [773]:
import pandas as pd
import os
from scripts.georef import add_unidades_territoriales_to_df

## Carga de inputs

In [774]:
#file
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

In [775]:
df_alumnos = df_alumnos[df_alumnos.anio != 2010]

In [776]:
#Universidades consistentes

In [777]:
universidad_anio = df_alumnos[["institucion_nombre",'anio']].drop_duplicates()
universidad_anio_count = universidad_anio.groupby(["institucion_nombre"]).count()

In [778]:
lista_universidades = universidad_anio_count[universidad_anio_count.anio == 7].index

In [779]:
df_alumnos = df_alumnos[df_alumnos.institucion_nombre.isin(lista_universidades)]

## Exporacion

In [780]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Juridicas,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Juridicas,Abogacia
2,Abogado - MD,Juridicas,Abogacia
3,Abogado Especialista en Administracion de Just...,Juridicas,Abogacia
4,Abogado especialista en Asesoramiento de Empresas,Juridicas,Abogacia
5,Abogado Especialista en Asesoria Juridica de E...,Juridicas,Abogacia
6,Abogado especialista en Derecho Administrativo...,Juridicas,Abogacia
7,Abogado especialista en Derecho Ambiental,Juridicas,Abogacia
8,Abogado especialista en Derecho de Alta Tecnol...,Juridicas,Abogacia
9,Abogado especialista en Derecho Penal,Juridicas,Abogacia

In [781]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
7315,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,54.0,30.0,13.0,17.0,NaN,NaN,NaN,29.0,14.0,15.0
7316,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,10.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7317,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,39.0,23.0,10.0,13.0,49.0,23.0,26.0,6.0,4.0,2.0
7318,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,18.0,15.0,12.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7319,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,71.0,35.0,13.0,22.0,75.0,26.0,49.0,28.0,7.0,21.0
7320,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Estudios Internacionales,Privada,Posgrado,...,100.0,34.0,15.0,19.0,NaN,NaN,NaN,9.0,5.0,4.0
7321,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Licenciatura en Economia,Privada,Grado,...,49.0,42.0,28.0,14.0,117.0,82.0,35.0,36.0,24.0,12.0
7322,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Magister en Econometria,Privada,Posgrado,...,18.0,12.0,9.0,3.0,NaN,NaN,NaN,1.0,NaN,1.0
7323,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Magister en Economia,Privada,Posgrado,...,14.0,25.0,20.0,5.0,NaN,NaN,NaN,2.0,2.0,NaN
7324,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Historia,Departamento de Historia,Doctor en Historia,Privada,Posgrado,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [782]:
df_universidades.head(10)

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,municipio_id,municipio_nombre,provincia_id,provincia_nombre,latitud,longitud
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,6238.0,Dolores,60238.0,Dolores,06,Buenos Aires,-36.449418,-57.768604
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,2021.0,Comuna 3,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.602173,-58.397300
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,2007.0,Comuna 1,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.602834,-58.368183
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014.0,Capital,140077.0,Córdoba,14,Córdoba,-31.433717,-64.277978
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,2084.0,Comuna 12,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.554718,-58.497288
5,Instituto Universitario de Ciencias Biomedicas...,Instituto Universitario de Ciencias Biomedicas...,Naciones Unidas 400-440,NaN,"-31.4421202,-64.2033758",NaN,NaN,NaN,NaN,NaN,...,-31.442120,-64.203376,14014.0,Capital,140077.0,Córdoba,14,Córdoba,-31.442120,-64.203376
6,Instituto Universitario de Ciencias de la Salu...,Instituto Universitario de Ciencias de la Salu...,Av. Gral. Las Heras 1907,NaN,"-34.5951617,-58.4021427",NaN,NaN,NaN,NaN,NaN,...,-34.595162,-58.402143,2014.0,Comuna 2,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.595162,-58.402143
7,Instituto Universitario de Gendarmeria Nacional,Instituto Universitario de Gendarmeria Nacional,Av. Paseo Colón 533,NaN,"-34.6142528,-58.371724",NaN,NaN,NaN,NaN,NaN,...,-34.614253,-58.371724,2007.0,Comuna 1,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.614253,-58.371724
8,Instituto Universitario de la Policía Federal ...,Instituto Universitario de la Policía Federal ...,Rosario 532,NaN,"-34.6196133,-58.4382653",NaN,NaN,NaN,NaN,NaN,...,-34.619613,-58.438265,2042.0,Comuna 6,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.619613,-58.438265
9,Instituto Universitario de Salud Mental de la ...,Instituto Universitario de Salud Mental de la ...,Báez 248,NaN,"-34.567895,-58.4361568",NaN,NaN,NaN,NaN,NaN,...,-34.567895,-58.436157,2098.0,Comuna 14,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.567895,-58.436157

## Calculo evolucion de genero en carreras

In [783]:
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [784]:
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
carrera                                 True
carrera_grupo                           True
Carrera_normalizada                     True
dtype: bool

In [785]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()

False    59222
True      2564
Name: carrera_grupo, dtype: int64

In [786]:
df_alumnos_merged[df_alumnos_merged.carrera_grupo.isnull()].to_csv("data/output/nulls.csv", encoding = "UTF8", index = False)

In [787]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [788]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [789]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()
#df_evolucion_carrera = df_evolucion_carrera.drop("index",1)

In [790]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,Administracion Publica,19650.0,9391.0,10259.0,5179.0,2359.0,2820.0,1160.0,497.0,663.0
1,2011,Arquitectura y Urbanismo,60050.0,31064.0,28986.0,9645.0,4797.0,4848.0,3063.0,1412.0,1651.0
2,2011,Artes,38511.0,17785.0,20726.0,9861.0,4882.0,4979.0,1249.0,460.0,789.0
3,2011,Ciencias Exactas,22793.0,11054.0,11739.0,5178.0,2391.0,2787.0,1448.0,619.0,829.0
4,2011,Comunicacion,63559.0,21746.0,41813.0,15852.0,5937.0,9915.0,4399.0,1378.0,3021.0
5,2011,Diseño,51974.0,18337.0,33637.0,10856.0,3711.0,7145.0,2825.0,820.0,2005.0
6,2011,Economicas,326583.0,149919.0,176664.0,69905.0,33236.0,36669.0,19362.0,8874.0,10488.0
7,2011,Educacion,135717.0,32564.0,103153.0,41098.0,10743.0,30355.0,8421.0,1795.0,6626.0
8,2011,"Hoteleria, Gastronomia y Turismo",23569.0,7427.0,16142.0,6345.0,2159.0,4186.0,1402.0,319.0,1083.0
9,2011,Ingenieria,122110.0,99164.0,22946.0,25243.0,20257.0,4986.0,5748.0,4550.0,1198.0

In [791]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [792]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

## Grafico exploratorio

### carreras

In [793]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","Carrera_normalizada"]).sum()

In [794]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [795]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [796]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

In [797]:
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","institucion_nombre_new"]).sum()

In [798]:
df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad = df_evolucion_carrera.reset_index()

In [799]:
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total

In [800]:
df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)

In [801]:
df_universidades.head()

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,municipio_id,municipio_nombre,provincia_id,provincia_nombre,latitud,longitud
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,6238.0,Dolores,60238.0,Dolores,06,Buenos Aires,-36.449418,-57.768604
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,2021.0,Comuna 3,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.602173,-58.397300
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,2007.0,Comuna 1,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.602834,-58.368183
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014.0,Capital,140077.0,Córdoba,14,Córdoba,-31.433717,-64.277978
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,2084.0,Comuna 12,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.554718,-58.497288

In [802]:
# chequea si hay instituciones faltantes para el merge
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

instituciones_en_universidades - instituciones_en_alumnos

{'Instituto Tecnológico de Buenos Aires',
 'Instituto Universitario Aeronáutico',
 'Instituto Universitario Escuela Superior de Economía y Administración de Empresas',
 'Instituto Universitario ISEDET',
 'Instituto Universitario Nacional de Derechos Humanos "Madres de Plaza de Mayo"',
 'Instituto Universitario Nacional del Arte',
 'Instituto Universitario Naval',
 'Instituto Universitario Patagónico de las Artes',
 'Instituto Universitario River Plate',
 'Instituto Universitario de Ciencias Biomedicas de Córdoba',
 'Instituto Universitario de Ciencias de la Salud de la Fundación Barceló',
 'Instituto Universitario de Salud Mental de la Asociación Psicoanalítica de Buenos Aires',
 'Instituto Universitario de Seguridad Marítima',
 'Instituto Universitario de la Policía Federal Argentina',
 'Instituto Universitario del Ejército "Mayor Francisco Romero"',
 'Instituto Universitario del Gran Rosario',
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires',
 'Universidad  Favaloro',
 'Universidad Atlántida Argentina',
 'Universidad Autónoma de Entre ríos',
 'Universidad Católica de Cuyo',
 'Universidad Católica de Córdoba',
 'Universidad Católica de La Plata',
 'Universidad Católica de Salta',
 'Universidad Católica de Santa Fe',
 'Universidad Católica de Santiago del Estero',
 'Universidad Católica de las Misiones',
 'Universidad Gastón Dachary',
 'Universidad Juan Agustín Maza',
 'Universidad Maimónides',
 'Universidad Metropolitana para la Educación y el Trabajo',
 'Universidad Nacional José C. Paz',
 'Universidad Nacional de Córdoba',
 'Universidad Nacional de Entre ríos',
 'Universidad Nacional de Hurlingham',
 'Universidad Nacional de Lanús',
 'Universidad Nacional de Luján',
 'Universidad Nacional de Rafaela',
 'Universidad Nacional de San Martín',
 'Universidad Nacional de Tierra del Fuego, Antártida e Islas del Atlántico Sur',
 'Universidad Nacional de Tucumán',
 'Universidad Nacional de Villa María',
 'Universidad Nacional de Villa Mercedes',
 'Universidad Nacional de las Artes',
 'Universidad Nacional de río Cuarto',
 'Universidad Nacional de río Negro',
 'Universidad Nacional del Oeste',
 'Universidad Pedagógica Nacional',
 'Universidad Popular Madres de Plaza de Mayo',
 'Universidad Provincial de Ezeiza',
 'Universidad Provincial del Sudoeste',
 'Universidad Salesiana Argentina',
 'Universidad Tecnológica Nacional',
 'Universidad de Concepción del Uruguay',
 'Universidad de Congreso',
 'Universidad de Morón',
 'Universidad de San Andrés',
 'Universidad de San Isidro "Dr. Plácido Marín"',
 'Universidad de la Defensa Nacional',
 'Universidad de la Fraternidad de Agrupaciones Santo Tomás de Aquino',
 'Universidad del Congreso',
 'Universidad del Norte Santo Tomás de Aquino',
 'Universitá Degli Studi di Bologna'}

In [803]:
df_universidades_merged = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_new", right_on="institucion_nombre")
df_universidades_merged.head()

,anio,institucion_tipo,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,lat,lon,departamento_id,departamento_nombre,municipio_id,municipio_nombre,provincia_id,provincia_nombre,latitud,longitud
0,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
2,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
3,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
4,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,02,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939

In [804]:
df_evolucion_universidades = df_universidades_merged.groupby(["anio","provincia_id","carrera_grupo"]).sum()
df_evolucion_universidades = df_evolucion_universidades[variables]
df_evolucion_universidades = df_evolucion_universidades.reset_index()
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,02,Administracion Publica,8065.0,4037.0,4028.0,1919.0,860.0,1059.0,525.0,211.0,314.0
1,2011,02,Arquitectura y Urbanismo,21973.0,11153.0,10820.0,3599.0,1731.0,1868.0,1304.0,633.0,671.0
2,2011,02,Artes,13447.0,5137.0,8310.0,3119.0,1263.0,1856.0,585.0,197.0,388.0
3,2011,02,Ciencias Exactas,6820.0,3953.0,2867.0,1225.0,665.0,560.0,304.0,159.0,145.0
4,2011,02,Comunicacion,32422.0,12070.0,20352.0,7858.0,3046.0,4812.0,2764.0,897.0,1867.0

In [805]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [806]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [807]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [808]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,estudiantes_grupo_pct
0,2011,02,Administracion Publica,8065.0,4037.0,4028.0,1919.0,860.0,1059.0,525.0,211.0,314.0,0.499442,0.013520
1,2011,02,Arquitectura y Urbanismo,21973.0,11153.0,10820.0,3599.0,1731.0,1868.0,1304.0,633.0,671.0,0.492423,0.036834
2,2011,02,Artes,13447.0,5137.0,8310.0,3119.0,1263.0,1856.0,585.0,197.0,388.0,0.617982,0.022542
3,2011,02,Ciencias Exactas,6820.0,3953.0,2867.0,1225.0,665.0,560.0,304.0,159.0,145.0,0.420381,0.011433
4,2011,02,Comunicacion,32422.0,12070.0,20352.0,7858.0,3046.0,4812.0,2764.0,897.0,1867.0,0.627722,0.054350

In [809]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [810]:
##ETL Markers de universidades

In [811]:
def crear_universidad(mapa,latitud, longitud, universidad_nombre, carreras_grupos):
    """ Pone una universidad en el mapa con información en el marker.

    Args:
        latitud (float):
        longitud (float):
        universidad_nombre (str):
        carreras_grupos (list):
    """

In [812]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in set(grupos_carreras) if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [813]:
serie_lista_grupos = df_universidades_merged.groupby("institucion_nombre_new")["carrera_grupo"].apply(concatenate_map)
serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_new")["carrera_titulo"].apply(concatenate_map)

In [814]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)
df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [815]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)
#tasas de egresos pero no lineamente, buscar la formula, estandariza el año de duracion.