# ETL

In [2]:
import pandas as pd
import os
from scripts.georef import add_unidades_territoriales_to_df

## Carga de inputs

In [3]:
#file
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

Consultando lat: -36.4494181, lon: -57.7686044
Consultando lat: -34.6021735, lon: -58.3972997
Consultando lat: -34.6028340446427, lon: -58.368183272295
Consultando lat: -31.4337174, lon: -64.2779779
Consultando lat: -34.5547176, lon: -58.4972877
Consultando lat: -31.4421202, lon: -64.2033758
Consultando lat: -34.5951617, lon: -58.4021427
Consultando lat: -34.6142528, lon: -58.371724
Consultando lat: -34.6196133, lon: -58.4382653
Consultando lat: -34.567895, lon: -58.4361568
Consultando lat: -34.6030978, lon: -58.3739408
Consultando lat: -34.57439170160686, lon: -58.43650022052455
Consultando lat: -32.9512965, lon: -60.6460659
Consultando lat: -32.9512965, lon: -60.6460659
Consultando lat: -34.5997447, lon: -58.3934405
Consultando lat: -34.6071979, lon: -58.4291149
Consultando lat: -34.5809241, lon: -58.4253568
Consultando lat: -34.6307959, lon: -58.4656187
Consultando lat: -32.9415838, lon: -60.6705633
Consultando lat: -34.6097284, lon: -58.4079993
Consultando lat: -34.5946906, lon: -58.4018519
Consultando lat: -34.5945248, lon: -58.469703
Consultando lat: -34.5453018, lon: -58.4519636
Consultando lat: -34.6148453, lon: -58.3668853
Consultando lat: -34.6148113, lon: -58.3940258
Consultando lat:  -34.6221199173329, lon:  -58.379325181549746
Consultando lat: -32.0759594, lon: -60.4665987
Consultando lat: -34.6173746323554, lon: -58.381525671564
Consultando lat: -34.60762266844467, lon: -58.38645625343852
Consultando lat: -37.1552476, lon: -57.7427199
Consultando lat:  -34.47094214462022, lon:  -58.847032888622834
Consultando lat: -32.0752125, lon: -61.5334031
Consultando lat: -34.59603749231513, lon: -58.39193924933041
Consultando lat: -34.608865810462795, lon: -58.378716306442456
Consultando lat: -31.4527657, lon: -64.2513093
Consultando lat: -31.5403667, lon: -68.5882198
Consultando lat:  -34.924457391060656, lon:  -57.950327388915824
Consultando lat: -27.3558553, lon: -55.9417525
Consultando lat: -24.7399552, lon: -65.3940334
Consultando lat:  -31.607095036472234, lon:  -60.67088878632154
Consultando lat: -34.46911816523541, lon: -58.51514668806574
Consultando lat: -33.8848483, lon: -67.5266833
Consultando lat: -34.564446626972675, lon: -58.44400348234273
Consultando lat: -34.59971093266858, lon: -58.37308898582941
Consultando lat: -34.5982797695651, lon: -58.3869599869626
Consultando lat: -32.4815741, lon: -58.2318849
Consultando lat: -34.6021519, lon: -58.3890774
Consultando lat: -34.6274699, lon: -58.4589968
Consultando lat: -27.3750927, lon: -55.9028806
Consultando lat: -34.6050036, lon: -58.3788407
Consultando lat: -38.00719142806125, lon: -57.563677285266195
Consultando lat:  -34.60965001204205, lon:  -58.398471321349234
Consultando lat: -32.8916714, lon: -68.8635323
Consultando lat:  -34.64724004619001, lon:  -58.61977592468715
Consultando lat: -34.5972849453752, lon: -58.41576251085405
Consultando lat: -34.4461156, lon: -58.5321377
Consultando lat: -34.4617796, lon: -58.5203287
Consultando lat: -32.889702977248035, lon: -68.836339205674
Consultando lat: -34.598493489787174, lon: -58.37246198342438
Consultando lat: -32.9565784932488, lon: -60.6441042488731
Consultando lat: -34.617846, lon: -58.3728309
Consultando lat: -34.597041549129365, lon: -58.37693167637579
Consultando lat: -34.9072705, lon: -57.9504423
Consultando lat: -34.6047031, lon: -58.3922666
Consultando lat: -26.832849, lon: -65.2075185
Consultando lat: -34.5994421892955, lon: -58.3896679387133
Consultando lat: -31.3279965, lon: -64.2286782
Consultando lat:  -34.614872720152945, lon:  -58.39167679293044
Consultando lat: -27.3706143, lon: -55.9352656
Consultando lat: -34.6139929, lon: -58.3804476
Consultando lat: -32.95403678084001, lon: -68.83214028295434
Consultando lat: -34.61053895477871, lon: -58.44103541301811
Consultando lat: -34.6058, lon: -58.3979779
Consultando lat: -34.7751429, lon: -58.2701046
Consultando lat: -34.72925803087015, lon: -58.263119285544974
Consultando lat: -28.459001, lon: -65.7854021
Consultando lat: -29.1565622, lon: -67.4730232
Consultando lat: -31.4354809, lon: -64.1877589
Consultando lat: -32.8807275, lon: -68.8801746
Consultando lat: -31.624005177104273, lon: -58.50507853279984
Consultando lat: -26.1921994, lon: -58.2024444
Consultando lat:  -34.492332720554565, lon:  -58.664685936227905
Consultando lat: -34.6174248, lon: -58.6369253
Consultando lat: -24.1826176, lon: -65.3203807
Consultando lat: -34.67069602536431, lon: -58.5625432692672
Consultando lat: -36.1446255, lon: -64.5963517
Consultando lat: -46.4336028, lon: -67.5229963
Consultando lat: -42.91147305328778, lon: -71.32234601161547
Consultando lat: -34.89439984475497, lon: -57.97717980074897
Consultando lat: -29.4298962, lon: -66.8709593
Consultando lat: -34.7355208, lon: -58.3932694
Consultando lat: -34.6094209, lon: -58.4066206
Consultando lat: -34.7765037, lon: -58.4591023
Consultando lat: -34.5774091, lon: -59.0909557
Consultando lat: -38.0057920156254, lon: -57.5715790666085
Consultando lat: -27.3996326, lon: -55.9256125
Consultando lat: -34.6525807, lon: -58.7791501
Consultando lat: -34.7064966, lon: -58.2807187
Consultando lat: -31.2511417, lon: -61.5046662
Consultando lat: -33.084594014186514, lon: -64.3349444221352
Consultando lat:   -39.0279881065646, lon:  -67.58044691129079
Consultando lat: -32.950309649805945, lon: -60.636126952347716
Consultando lat: -24.7280281, lon: -65.4114867
Consultando lat: -31.5354691, lon: -68.5412352
Consultando lat: -33.2962223, lon: -66.3441194
Consultando lat: -34.550664100769964, lon: -58.441134539431594
Consultando lat: -27.8014246, lon: -64.2531763
Consultando lat:  -54.81888630058655, lon:  -68.32552591092275
Consultando lat: -34.6050318, lon: -58.5665275
Consultando lat: -26.8363912, lon: -65.2133295
Consultando lat: -32.3995102, lon: -63.2651483
Consultando lat: -33.6865689, lon: -65.4698988
Consultando lat: -37.3285417102325, lon: -59.1380501689951
Consultando lat: -26.8017124, lon: -60.4491146
Consultando lat: -34.59583822943477, lon: -58.393932130303796
Consultando lat:  -31.638260020689607, lon:  -60.70559340518095
Consultando lat: -27.4607657, lon: -58.9542543
Consultando lat:  -34.861684718919854, lon:  -61.52755638690734
Consultando lat: -34.65254628739099, lon: -58.62119862036371
Consultando lat: -38.67866305629395, lon: -62.29611089500422
Consultando lat: -34.521483660692496, lon: -58.745796901146605
Consultando lat: -34.750524, lon: -58.308108
Consultando lat: -34.6100495, lon: -58.3908878
Consultando lat: -36.6196788, lon: -62.5506754
Consultando lat: -38.7225345, lon: -62.282452
Consultando lat: -34.61847060349939, lon: -58.45044388901235
Consultando lat: -34.5476972, lon: -58.4489394
Consultando lat: 44.4679091, lon: 11.2955076
Consultando lat: -34.7895235, lon: -58.5231426
Consultando lat: -34.61955811945053, lon: -58.37559426109925
Consultando lat: -39.0178878, lon: -67.5960898

## Exporacion

In [4]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Derecho,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Derecho,Abogacia
2,Abogado - MD,Derecho,Abogacia
3,Abogado Especialista en Administracion de Just...,Derecho,Abogacia
4,Abogado especialista en Asesoramiento de Empresas,Derecho,Abogacia
5,Abogado Especialista en Asesoria Juridica de E...,Derecho,Abogacia
6,Abogado especialista en Derecho Administrativo...,Derecho,Abogacia
7,Abogado especialista en Derecho Ambiental,Derecho,Abogacia
8,Abogado especialista en Derecho de Alta Tecnol...,Derecho,Abogacia
9,Abogado especialista en Derecho Penal,Derecho,Abogacia

In [5]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,carrera_titulo,institucion_gestion,...,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2010,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Relaciones Internacionales,Magister en Relaciones Internacionales Europa ...,Privada,...,50.0,33.0,10.0,23.0,NaN,NaN,NaN,24.0,11.0,13.0
1,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Centro de Arqu...,Centro de Arquitectura Contemporanea,Centro de Arquitectura Contemporanea,Arquitectura y Urbanismo,Arquitecto,Privada,...,81.0,32.0,12.0,20.0,86.0,25.0,61.0,NaN,NaN,NaN
2,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Doctor en Ciencia Politica,Privada,...,9.0,8.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Magister en Ciencia Politica,Privada,...,16.0,10.0,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Relaciones Internacionales,Magister en Estudios Internacionales,Privada,...,88.0,35.0,20.0,15.0,NaN,NaN,NaN,10.0,5.0,5.0
5,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Gobierno,Departamento de Ciencia Politica y Gobierno,Ciencia Politica,Licenciatura en Ciencias Politicas y Gobierno,Privada,...,26.0,13.0,7.0,6.0,45.0,25.0,20.0,13.0,5.0,8.0
6,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Gobierno,Departamento de Ciencia Politica y Gobierno,Relaciones Internacionales,Licenciatura en Estudios Internacionales,Privada,...,81.0,31.0,9.0,22.0,86.0,27.0,59.0,21.0,9.0,12.0
7,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Economia,Licenciatura en Economia,Privada,...,56.0,41.0,22.0,19.0,126.0,89.0,37.0,29.0,21.0,8.0
8,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Economia,Magister en Econometria,Privada,...,25.0,19.0,10.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economia,Departamento de Economia,Economia,Magister en Economia,Privada,...,18.0,24.0,19.0,5.0,NaN,NaN,NaN,4.0,3.0,1.0

In [6]:
df_universidades.head(10)

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.4494181,-57.7686044,06238,Dolores,-36.4494181,-57.7686044,060238,Dolores,06,Buenos Aires
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.6021735,-58.3972997,02021,Comuna 3,-34.6021735,-58.3972997,None,None,02,Ciudad Autónoma de Buenos Aires
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.6028340446427,-58.368183272295,02007,Comuna 1,-34.6028340446427,-58.368183272295,None,None,02,Ciudad Autónoma de Buenos Aires
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.4337174,-64.2779779,14014,Capital,-31.4337174,-64.2779779,140077,Córdoba,14,Córdoba
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.5547176,-58.4972877,02084,Comuna 12,-34.5547176,-58.4972877,None,None,02,Ciudad Autónoma de Buenos Aires
5,Instituto Universitario de Ciencias Biomedicas...,Instituto Universitario de Ciencias Biomedicas...,Naciones Unidas 400-440,NaN,"-31.4421202,-64.2033758",NaN,NaN,NaN,NaN,NaN,...,-31.4421202,-64.2033758,14014,Capital,-31.4421202,-64.2033758,140077,Córdoba,14,Córdoba
6,Instituto Universitario de Ciencias de la Salu...,Instituto Universitario de Ciencias de la Salu...,Av. Gral. Las Heras 1907,NaN,"-34.5951617,-58.4021427",NaN,NaN,NaN,NaN,NaN,...,-34.5951617,-58.4021427,02014,Comuna 2,-34.5951617,-58.4021427,None,None,02,Ciudad Autónoma de Buenos Aires
7,Instituto Universitario de Gendarmeria Nacional,Instituto Universitario de Gendarmeria Nacional,Av. Paseo Colón 533,NaN,"-34.6142528,-58.371724",NaN,NaN,NaN,NaN,NaN,...,-34.6142528,-58.371724,02007,Comuna 1,-34.6142528,-58.371724,None,None,02,Ciudad Autónoma de Buenos Aires
8,Instituto Universitario de la Policía Federal ...,Instituto Universitario de la Policía Federal ...,Rosario 532,NaN,"-34.6196133,-58.4382653",NaN,NaN,NaN,NaN,NaN,...,-34.6196133,-58.4382653,02042,Comuna 6,-34.6196133,-58.4382653,None,None,02,Ciudad Autónoma de Buenos Aires
9,Instituto Universitario de Salud Mental de la ...,Instituto Universitario de Salud Mental de la ...,Báez 248,NaN,"-34.567895,-58.4361568",NaN,NaN,NaN,NaN,NaN,...,-34.567895,-58.4361568,02098,Comuna 14,-34.567895,-58.4361568,None,None,02,Ciudad Autónoma de Buenos Aires

## Calculo evolucion de genero en carreras

In [7]:
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [8]:
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_nombre                         False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
carrera                                 True
carrera_grupo                           True
Carrera_normalizada                     True
dtype: bool

In [9]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()

False    62068
True     10864
Name: carrera_grupo, dtype: int64

In [10]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [11]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [12]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()
#df_evolucion_carrera = df_evolucion_carrera.drop("index",1)

In [13]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2010,Arquitectura,70587.0,26843.0,25641.0,13655.0,5266.0,5240.0,3166.0,1121.0,1309.0
1,2010,Arte,84461.0,24721.0,35384.0,23097.0,7455.0,10122.0,2854.0,745.0,1321.0
2,2010,Deporte,2621.0,1557.0,1064.0,794.0,471.0,323.0,162.0,90.0,72.0
3,2010,Derecho,237773.0,87646.0,114635.0,56072.0,23004.0,27457.0,15903.0,5184.0,6912.0
4,2010,Economicas,401354.0,158885.0,184338.0,95385.0,41997.0,43894.0,25750.0,10380.0,11933.0
5,2010,Educacion,142273.0,35322.0,101339.0,43097.0,11735.0,29675.0,8569.0,1909.0,5994.0
6,2010,Exactas,43302.0,17651.0,20001.0,10271.0,4196.0,4876.0,2523.0,1008.0,1331.0
7,2010,Idiomas,13885.0,1909.0,9710.0,4055.0,665.0,2739.0,754.0,71.0,617.0
8,2010,Ingeniería,104596.0,81481.0,13967.0,22107.0,16686.0,3252.0,4556.0,3488.0,650.0
9,2010,Letras,340.0,71.0,269.0,76.0,21.0,55.0,17.0,1.0,16.0

In [14]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [15]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

## Grafico exploratorio

### carreras

In [16]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","carrera_nombre"]).sum()

In [17]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [18]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [19]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

In [20]:
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","institucion_nombre_new"]).sum()

In [21]:
df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad = df_evolucion_carrera.reset_index()

In [22]:
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total

In [23]:
df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)

In [24]:
df_universidades.head()

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.4494181,-57.7686044,06238,Dolores,-36.4494181,-57.7686044,060238,Dolores,06,Buenos Aires
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.6021735,-58.3972997,02021,Comuna 3,-34.6021735,-58.3972997,None,None,02,Ciudad Autónoma de Buenos Aires
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.6028340446427,-58.368183272295,02007,Comuna 1,-34.6028340446427,-58.368183272295,None,None,02,Ciudad Autónoma de Buenos Aires
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.4337174,-64.2779779,14014,Capital,-31.4337174,-64.2779779,140077,Córdoba,14,Córdoba
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.5547176,-58.4972877,02084,Comuna 12,-34.5547176,-58.4972877,None,None,02,Ciudad Autónoma de Buenos Aires

In [25]:
# chequea si hay instituciones faltantes para el merge
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

instituciones_en_universidades - instituciones_en_alumnos

{'Universidad Autónoma de Entre ríos',
 'Universidad Favaloro',
 'Universidad de la Fraternidad de Agrupaciones Santo Tomás de Aquino'}

In [26]:
df_universidades_merged = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_new", right_on="institucion_nombre")
df_universidades_merged.head()

,anio,institucion_tipo,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,carrera_titulo,institucion_gestion,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,2010,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Relaciones Internacionales,Magister en Relaciones Internacionales Europa ...,Privada,...,44.4679091,11.2955076,None,None,44.4679091,11.2955076,None,None,None,None
1,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Centro de Arqu...,Centro de Arquitectura Contemporanea,Centro de Arquitectura Contemporanea,Arquitectura y Urbanismo,Arquitecto,Privada,...,-34.5476972,-58.4489394,02091,Comuna 13,-34.5476972,-58.4489394,None,None,02,Ciudad Autónoma de Buenos Aires
2,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Doctor en Ciencia Politica,Privada,...,-34.5476972,-58.4489394,02091,Comuna 13,-34.5476972,-58.4489394,None,None,02,Ciudad Autónoma de Buenos Aires
3,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Magister en Ciencia Politica,Privada,...,-34.5476972,-58.4489394,02091,Comuna 13,-34.5476972,-58.4489394,None,None,02,Ciudad Autónoma de Buenos Aires
4,2010,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Relaciones Internacionales,Magister en Estudios Internacionales,Privada,...,-34.5476972,-58.4489394,02091,Comuna 13,-34.5476972,-58.4489394,None,None,02,Ciudad Autónoma de Buenos Aires

In [27]:
df_evolucion_universidades = df_universidades_merged.groupby(["anio","provincia_id","carrera_grupo"]).sum()
df_evolucion_universidades = df_evolucion_universidades[variables]
df_evolucion_universidades = df_evolucion_universidades.reset_index()
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2010,02,Arquitectura,24855.0,3388.0,3364.0,5310.0,1065.0,1096.0,1009.0,131.0,142.0
1,2010,02,Arte,49974.0,8199.0,17419.0,13002.0,2381.0,5101.0,1711.0,281.0,642.0
2,2010,02,Deporte,1249.0,632.0,617.0,354.0,162.0,192.0,79.0,41.0,38.0
3,2010,02,Derecho,68226.0,15672.0,17062.0,15716.0,4758.0,5347.0,6429.0,1262.0,1360.0
4,2010,02,Economicas,154088.0,50462.0,45495.0,37910.0,15289.0,13127.0,12229.0,4514.0,4278.0

In [28]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [29]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [30]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [31]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,estudiantes_grupo_pct
0,2010,02,Arquitectura,24855.0,3388.0,3364.0,5310.0,1065.0,1096.0,1009.0,131.0,142.0,0.135345,0.034287
1,2010,02,Arte,49974.0,8199.0,17419.0,13002.0,2381.0,5101.0,1711.0,281.0,642.0,0.348561,0.068938
2,2010,02,Deporte,1249.0,632.0,617.0,354.0,162.0,192.0,79.0,41.0,38.0,0.493995,0.001723
3,2010,02,Derecho,68226.0,15672.0,17062.0,15716.0,4758.0,5347.0,6429.0,1262.0,1360.0,0.250081,0.094117
4,2010,02,Economicas,154088.0,50462.0,45495.0,37910.0,15289.0,13127.0,12229.0,4514.0,4278.0,0.295253,0.212562

In [32]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [33]:
##ETL Markers de universidades

In [34]:
def crear_universidad(mapa,latitud, longitud, universidad_nombre, carreras_grupos):
    """ Pone una universidad en el mapa con información en el marker.

    Args:
        latitud (float):
        longitud (float):
        universidad_nombre (str):
        carreras_grupos (list):
    """

In [35]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in set(grupos_carreras) if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [36]:
serie_lista_grupos = df_universidades_merged.groupby("institucion_nombre_new")["carrera_grupo"].apply(concatenate_map)
serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_new")["carrera_nombre"].apply(concatenate_map)

In [37]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)
df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [38]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)
#tasas de egresos pero no lineamente, buscar la formula, estandariza el año de duracion.